<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="">
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        <h3><img src="assets\iconosalud.png" height="60px" aling-left="0px"></h3>
        <div class="mdl-layout-spacer"></div>
        <div>
          <img src="assets/ministeriodesalud.png" height="60px" style="margin-right: auto;" alt="">
      </div>
      </div>
      <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
        <a href="#overview" class="mdl-layout__tab is-active">Inicio</a>

        <!-- Left aligned menu below button -->
<!-- <button id="demo-menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon"> -->
        <a id="submenu" href="#" class="mdl-layout__tab">Institucional
        <i class="mdl-icon-toggle__label material-icons" style="vertical-align: middle; color: #bababa">keyboard_arrow_down</i>
</a>

<!-- </button> -->

<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
for="submenu">
<li class="mdl-menu__item">Mision y Vision</li>
<li class="mdl-menu__item">Objetivos</li>
<li class="mdl-menu__item">Ubicacion</li>
<li class="mdl-menu__item">Historia</li>
<li class="mdl-menu__item">Creación DIRESA</li>
<li class="mdl-menu__item">Estructura Organica</li>
<li class="mdl-menu__item">Marco Legal</li>
</ul>



        <a id="submenu2" href="#" class="mdl-layout__tab">Directorio <i class="mdl-icon-toggle__label material-icons" style="vertical-align: middle; color: #bababa">keyboard_arrow_down</i>
        </a>
<!-- </button> -->

<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
for="submenu2">
<li class="mdl-menu__item">Redes Salud</li>
</ul>

        <a id="submenu3" href="#" class="mdl-layout__tab">Organo <i class="mdl-icon-toggle__label material-icons" style="vertical-align: middle; color: #bababa">keyboard_arrow_down</i>
        </a>
<!-- </button> -->

<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
for="submenu3">
<li class="mdl-menu__item">Aseguraiento Publico</li>
</ul>


        <a id="submenu4" href="#" class="mdl-layout__tab">Transparencia<i class="mdl-icon-toggle__label material-icons" style="vertical-align: middle; color: #bababa">keyboard_arrow_down</i>
        </a>
<!-- </button> -->

<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
for="submenu4">
<li class="mdl-menu__item">Documento de Gestión</li>
</ul>
      </div>
    </header>

<!--................................................................................................................. -->

    <main class="mdl-layout__content">
      <div class="mdl-layout__tab-panel is-active" id="overview">
        <section class="mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
          <img src="assets/imagen1.png" width="100%">
        </section>
        <h4>
            NOTICIAS NACIONAL DE SALUD
          </h4>
          <hr>
        <section class="mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
          <div class="mdl-card mdl-cell--12-col">
            <div class="mdl-card__supporting-text mdl-grid">
                <div class="mdl-cell--4-col">
                  <img src="assets/noticiasalud.png" width="100%" style="vertical-align: middle">
                </div>
                <div class="titulo mdl-cell--4-col">
                    <h5> 
                        ¿Tiene algún beneficio amamantar a un niño hasta los 5 años?
                    </h5>
                  <p class="relleno">El tema es polémico: ¿está bien amamantar a un niño de más de 3 años, que ya camina y va a la escuela?

                      Una madre que amamanta tanto a su hija de 5 años como hijo de 2 años -a veces al mismo tiempo- dice que es bueno para la salud de los niños porque rara vez se enferman.
                      
                      Ella es Emma Shardlow Hudson, una madre inglesa de 29 años, y asegura que esos beneficios "se deben a los anticuerpos en la leche materna".
                      
                      Pero, ¿realmente tiene beneficios un amamantamiento tan largo?
                                            
                      </p>
                
                </div>
                <div class=" mdl-cell--4-col">
                    <img src="assets/documentodiresa.png" width="300px"><hr>
                    <img src="assets/diresapuno.png"width="300px"><hr>
                    <img src="assets/webmail.png" width="300px"><hr>
                    <img src="assets/serums.png" width="300px"><hr>

                  </div>
                <hr style="width: 100%">
                
                    <div class="mdl-cell--middle mdl-cell--4-col">
                      <img src="assets/noticiasalud2.png" width="100%" style="vertical-align: middle">
                    </div>
                    <div class="titulo mdl-cell--middle mdl-cell--4-col"><h5> 
                        Consumo de frutos rojos puede reducir efectos del cáncer
                      </h5>
                        <p class="relleno">El alto contenido de antioxidantes y compuestos bioactivos que contienen los frutos rojos o las bayas contribuyen a la prevención y tratamiento contra el cáncer, señaló hoy la doctora Lina García Mier.
                          La investigadora y coordinadora de la licenciatura en Químico Farmacéutico Biotecnólogo de la Universidad del Valle de México (UVM) Campus Querétaro indicó en un comunicado que un estudio arrojó que las fresas, frambuesas, moras, arándanos, grosellas, uvas y bayas de sáuco tiene propiedades anticancerígenas.
                          </p>
                    <div class="mdl-cell--middle mdl-cell--4-col">
                    </div>
                    </div>
                <hr style="width: 100%">
               
                    <div class="mdl-cell--middle mdl-cell--4-col">
                      <img src="assets/noticiasalud3.png" width="100%" style="vertical-align: middle">
                    </div>
                    <div class="titulo mdl-cell mdl-cell--4-col"> <h5> 
                        Consumo de frutos rojos puede reducir efectos del cáncer
                      </h5>
                        
                      <p class="relleno">El alto contenido de antioxidantes y compuestos bioactivos que contienen los frutos rojos o las bayas contribuyen a la prevención y tratamiento contra el cáncer, señaló hoy la doctora Lina García Mier.

                          La investigadora y coordinadora de la licenciatura en Químico Farmacéutico Biotecnólogo de la Universidad del Valle de México (UVM) Campus Querétaro indicó en un comunicado que un estudio arrojó que las fresas, frambuesas, moras, arándanos, grosellas, uvas y bayas de sáuco tiene propiedades anticancerígenas.
                      </p>
                      <div class="mdl-cell mdl-cell--4-col">
                      </div>
                    </div>
              
            </div>
           
          </div>
        </section>
        
      </div>


    <section class="mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
      <div class="mdl-card mdl-cell mdl-cell--12-col">
      </div>
    </section>
      
    </main>

  </div>
</body>